<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="testDemo">
        <classes>
            <class name="TestCalcultor"></class>
            <class name="testAnnotation"></class>
            <class name="testDataProvider"></class>
            <class name="testbook"></class>
        </classes>
    </test>

</suite>